{% extends 'layout.html.twig' %}
{% block title %}MeetOut - Home {% endblock %}

    {% block section %}
        <div class="homepage">

            <div class="content">
                <section id="hizq-pc">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla, libero at ornare sodales, tellus turpis faucibus purus, eu suscipit nisl quam a felis. Cras blandit tempus purus vitae facilisis.
                        Duis dignissim quam vel dictum pretium. Aenean metus dui, tincidunt et quam nec, aliquam feugiat ligula. <br/><br/>Quisque eget dui malesuada, scelerisque augue eu, maximus arcu. Sed a velit nec justo molestie consectetur. Quisque sit amet mauris auctor, vulputate elit a, condimentum turpis. Pellentesque auctor consectetur fringilla. Pellentesque sit amet dui gravida, viverra felis nec, consectetur nibh. Donec sodales tortor libero, porttitor maximus eros pellentesque sed. In hac habitasse platea dictumst. Mauris eleifend venenatis dui eget gravida. Ut metus ex, suscipit at ante sed, maximus elementum dui.
                        Cras quis felis vel sem tristique dignissim. Sed sit amet luctus nisi.
                    </span>
                </section>


                <section id="hizq-mobile">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla, libero at ornare sodales, tellus turpis faucibus purus, eu suscipit nisl quam a felis. Cras blandit tempus purus vitae facilisis.
                        Duis dignissim quam vel dictum pretium. Aenean metus dui, tincidunt et quam nec, aliquam feugiat ligula.
                        <br/><br/>Quisque eget dui malesuada, scelerisque augue eu, maximus arcu. Sed a velit nec justo molestie consectetur. Quisque sit amet mauris auctor, vulputate elit a, condimentum turpis.
                    </span>
                </section>

                <section id="hder">
                    <div class="btn-movil modal">
                        <div class="btn-movil-reg"><button type="button">Registrarse!</button></div>
                        <div class="modal">
                            <input id="modal__trigger" type="checkbox" />
                            <label for="modal__trigger">Iniciar sesión</label>
                        </div>
                    </div>
                    <div class="wrapper-hder">
                        <div class="titleder"><h2 style="color:white;">Eres nuevo? Regístrate!</h2></div>
                        <div id="wrapper-form">
                            {% block fos_user_content %}
                                {% include "@FOSUser/Registration/register_content.html.twig" %}
                            {% endblock fos_user_content %}
                        </div>
                    </div>

                </section>
            </div>
        </div>

    {% endblock %}