{% extends 'layout.html.twig' %}
{% block title %}MeetOut - Register {% endblock %}
    {% block section %}
            <div class="register">
        <div class="content">
            <div class="wrapper-register">
                <section class="form-der">
                    {{ form_start(form, {'method': 'post', 'action': path('registerpage')})}}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </section>

                <section class="form-izq">

                </section>
            </div>
        </div>
</div>
    {% endblock %}






