.dashboardbdy {
  
  background-color:#f5f5f5;
  * {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }

  .content {
    margin-top: 2%;
    width: 100%;
    display: flex;
    margin-bottom: 2%;

    .fa-camera{
      color: #247BA0
    }

    .navegation {
      width: 30%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .feed {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      width: 70%;
    }

    .tag-box{
      display: none!important;
    }
  }

  .feed {
    .content_feed {
      width: 95%;
      background-color: white;
      box-shadow: 0 2px 3px rgba(0,0,0,.1);
    }

    .content_feed .new_post {
      width: 100%;
    }

    .content_feed .Outstanding {
      background-color: #A4C4A8;
      padding: 5%;
      height: 150px;
      border: 1px solid #c6c6c6;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 300;
      border-radius: 2px;
    }

    .content_feed
      .posts {
        width: 100%;
        height: 900px;
        overflow: auto;
        .post-row {
          padding: 5%;
          height: 150px;
          border: 1px solid #c6c6c6;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 300;
          background-color: #fff;
          border-radius: 2px;
          display: flex;
          > .settings{
            >ul{
              position: relative;
              >li{
                >i{
                  cursor: pointer;
                }
                >ul{
                  background-color: #fff;
                  border-radius: 2px;
                  border: 1px solid #c6c6c6;
                  box-shadow: 0 2px 3px rgba(0,0,0,.1);
                  display: none;
                  position: absolute;
                  right:0;
                  padding: 20px;
                  li{
                    margin-top: 10%;
                    margin-bottom: 10%;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .post {
            width: 100%;
            display: flex;
            align-items: center;
            div {
              width: 15%;
              margin-left: 2%;
              margin-right: 2%;
              img {
                border-radius: 100%;
                width: 100px;
                height:100px;
              }
              button {
                background: #247BA0;
                font-family: "Montserrat", sans-serif;
                border-radius: .2em;
                color: white;
                cursor: pointer;
                display: inline-block;
                font-weight: bold;
                padding: 0.75em 1.5em;
                transition: all 0.55s;
                border: none;
              }

            }
            > div:nth-child(3){
              align-self: flex-end;
            }
            .post-content {
              >div {
                width: 100% !important;
              }
              .post-info {
                display: flex;
                margin-top: 5%;
                img {
                  width: 30px;
                  height:30px;
                }
              }
            }
            >div:nth-child(2) {
              width: 70%;
            }
          }
        }
      }

  }

  .navegation .profile {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    color: #247BA0;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    text-align: center;
    justify-content: center;
    background-color: white;

    }

    .info_profile {
      display: flex;
      align-items: center;
    }

    .info_profile *:not(img) {
      flex-grow: 1;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .info_profile .image_profile img {
      width: 120px;
      height: 120px;
    }

    .info_profile .user_profile {
      text-align: left;
      a{
        color: #247BA0;
        text-decoration: none;
      }
    }
    .people_profile {
      width:100%;
      margin-top: 5%;
      display: flex;
      justify-content: center;
    }

    .people_profile * {
      flex-grow: 1;
    }

    .info_profile .user_profile .pleasures_profile img {
      width: 40px;
    }

    user

    .info_profile img {
      border-radius: 100px;
    }

  .navegation .events{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2%;
    width: 100%;

    .content_events{
      overflow: auto;
      padding-top: 5%;
      padding-bottom: 5%;
      font-family: 'Roboto', sans-serif;
      color: #247BA0;
      width: 100%;
      height: 500px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      text-align: center;
      justify-content: center;
      background-color: white;
    }

    .content_events .event{
      padding: 2%;
      height:33%;
      display: flex;
      align-items: center;
      text-align: justify;
      .event-buttons{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

        button {
          width: 60px;

          background-color: transparent;
          border: 0;
          color: #247BA0;
          cursor: pointer;
          img{
            width:20px;
            height:20px;
          }



        }

      }
    }

    .content_events img{
      width:80px;
      height:80px;
      border-radius: 100px;
    }

    .content_events .info_envent{
      margin-left: 5%;
      margin-right: 5%;

      .info_site{
        margin-top: 5%;
        font-size: 0.8em;
        display: flex;
        align-items: center;
        div:first-child{
          margin-right: 5%;
          .profile-quedada{
            cursor: pointer;
            width:20px;
            height: 20px;
            margin-right: 5%;
          }
        }

      }
    }

    .content_events .info_envent button{
      background-color: transparent;
      border: 0;
    }

    .content_events .info_envent .event-buttons{
      text-align: right;
    }

    .content_events .info_envent button img{
      width:20px;
      height:20px;
      cursor: pointer;
    }
  }

  .navegation .suggestions {
    text-align: center;
    margin-top: 10%;
    width: 100%;

    .content_suggestions {
      width: 100%;
      display: flex;
    }

    .content_suggestions .suggestion {
      flex-grow: 2;
      height: 70px;
      border: 1px dashed black;
    }
  }

  /*TEXT AREA POST*/

    $border: 		#c6c6c6;
    $border-focus: 	#9FB1C1;
    $blue: 			#077ABC;
    $aqua: 			#07B3A1;
    $asphalt: 		#506982;

  .form-group{
      margin-bottom: 20px;
    }


    .controls{
      display: flex;
      flex-direction: column;
      text-align: left;
      position: relative;
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea,
      select{
        padding: 12px;
        font-size: 14px;
        border: 1px solid $border;
        width: 97%;
        color: black;
        font-family: $font-stack;
        font-size: 16px;
        font-weight: 300;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s;

        &:focus, &:hover{
          outline: none;
          border-color: $border-focus;
          + label{
            color: $blue;
            cursor: text;
          }
        }
      }
      }
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
      }
      label{
        left: 8px;
        top: 12px;
        color: $bgcolor-tr;
        font-size: 16px;
        font-family: $font-stack;
        display: inline-block;
        padding: 4px 10px;
        font-weight: 400;
        background-color: rgba(255,255,255,0);
        pointer-events: none;
        -webkit-transition: color .3s, top .3s, background-color .8s;
        -moz-transition: color .3s, top .3s, background-color .8s;
        -ms-transition: color .3s, top .3s, background-color .8s;
        -o-transition: color .3s, top .3s, background-color .8s;
        transition: color .3s, top .3s, background-color .8s;
        &.active{
          top: -22px;
          color: #555;
          background-color: transparent;
        }
      }
      textarea{
        resize: none;
        height: 150px;
      }

      .photofile{
        cursor: pointer;
        position: absolute;
        width: 20px;
        opacity: 0;
        z-index: 100;
      }

    .publicar{
      display: flex;
      text-align: right;
      padding-right: 2%;
      align-items: center;
      background-color: whitesmoke;

      #addimg, #addicons, #addtags{
        background: transparent;
        border: none;
        cursor: pointer;
        i{
          color: $bgcolor-tr;
        }
      }

      > div:last-child{
        flex:1;
      }

      .publicarpost{
        background: #247BA0;
        font-family: "Montserrat", sans-serif;
        border-radius: .2em;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        padding: 0.75em 1.5em;
        transition: all 0.55s;
        border: none;
      }
      div{
        flex-grow: 1;
      }
      .choices{
        display: flex;
        div{
          text-align: center;
        }
      }
    }

  .tagarea{display: none;}
  .tag-box{
    list-style:none;
    padding:3px;
    margin:0;
    display:inline-block;
    font-family:arial;
    width: 75%;
    border:1px solid #F39F19;
    border-radius: 4px;
    *{
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;

      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }
    li{
      padding:4px 6px;
      float:left;
      display: inline-block;
      &.tags{
        background:#F1C617;
        color: $bgcolor-tr;
        border-radius: 4px;
        margin:4px 3px;
        position:relative;
        .close{
          display: inline-block;
          position: absolute;
          color:#E7832B;
          overflow: hidden;
          width:0;
          right: 0;
          height: 18px;
          cursor: pointer;
          top: 4px;
          &:after{
            content: 'x';
          }
        }
        &.edit{
          background:none;
          border:1px solid #F1C617;
          color:$bgcolor-tr;;
          .input-tag{
            height:auto;
          }
          &:hover{padding:4px 6px;}
        }
        &.danger{
          background:#F00;
          opacity: 0.8;
        }
        &:hover{
          padding-right:18px;
          .close{
            width:14px;
          }
        }
      }
      .input-tag{
        color:$bgcolor-tr;;
        height: 0px;
        vertical-align:middle;
        border:none;
        outline:none;
        background:none;
        &:hover, &:focus{
          outline:none;
          border:none;
        }
      }
    }

  }

    .menu-pestanyas{
      display: flex;
      align-items: center;
      font-family:$font-stack;
      background-color: whitesmoke;

      li:first-child{
        flex: 0.1;
        font-size: 14px;
      }
      li:last-child{
        flex: 0.1;
        padding-left: 10px;
        font-size: 14px;
      }
    }

    .pestanya-activa{
      background: #247BA0;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0.75em 1em;
      transition: all 0.55s;
      border: none;
    }

    .pestanya-default{
      background: #f5f5f5;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0.75em 1em;
      box-shadow: 0px 3px 9px -1px black;
      transition: all 0.55s;
      border: none;
    }

  .new_event{
    form{
      display: flex;
      flex-direction: column;
    }
  }
  
  .navigation-mobile{
    display: none;
  }


  @media only screen and (max-width: 767px) {
    .footer-home{
      display: none;
    }
    .navigation-mobile{
      font-family:$font-stack;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: auto;
      height: 60px;
      z-index: 1;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1);
      font-size: 14px;

      .navmob-section{
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: center;
        align-content: center;
        color: #247BA0;
        border-left: 1px solid #247BA0;
        height: 40px;
      }

      .navmob-section:first-child{
        border-left: none!important;
      }
    }

    .navegation, .searchbox, .content_header li:nth-child(3){
      display: none!important;
    }

    header {
      .content_header{
        height: 35px;

        li #logo{
          width:75px;
        }
      }
      .settings-menu{
        display: none;
      }

      .exit-menu{
        text-align: right;
        img{
          width: 30%!important;
        }
      }

    }

    .content {
      .feed{
        overflow: hidden;
        width: 95%;
      }

      .menu-pestanyas li:first-child{
        flex:1;
      }

      .menu-pestanyas li:last-child{
        flex:1;
      }

      .fa-camera{
        color: #247BA0
      }
      .publicar .publicarpost{
        margin-left:1%;
      }
      
    }



  }


}




