$margin-default: 5%;
$bgcolor-tr: rgba(63, 136, 197, 0.89);
$bgcolor-footer: #F7FDFF ;

.footer-home{
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: $bgcolor-footer;
  color: black;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  a{
    text-decoration: none;
    color: inherit;
  }

  li{
    flex: 1;
  }

  li:first-child{
    text-align: center;
  }

  li img{
    width: 70px;
  }
}