.home-head .header-home{
  background-color:$bgcolor-tr;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: center;


  li{
    flex: 1;
  }

  li img{
    width: 140px;
  }

  li:first-child{
    text-align: left;
    margin-left: $margin-default;
  }

  li:nth-child(3){
    text-align: right;
    margin-right:$margin-default;
  }

}

@media only screen and (max-width: 767px) {

  .home-head .header-home li:nth-child(2n+1) {
    text-align: center;
    margin: 0 !important;
  }

  .home-head .header-home li:nth-child(2n) {
    display: none;
  }
}