.register{
  background-color: #f5f5f5;
  .header-home li{
    margin:0!important;
    text-align: center!important;
  }

  .wrapper-register{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .wrapper-register .form-der, .wrapper-register .form-izq {
    flex:1;
    margin-left: 5%;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    }

  form {
    width: 60%;
    font-family: $font-stack;
    color: #247BA0;

    div:not(.bvolver-container):not(.buttonreg){
      text-align: left;
      padding-left: 30%;
    }
    div input{
      width: 75%!important;
    }

    #appbundle_user_plainPassword_first{
      width: 97%!important;;
    }
    #appbundle_user_plainPassword_second{
      width: 97%!important;;
    }

    #appbundle_user_plainPassword, #appbundle_user_plainPassword>div{
      padding-left:0!important;
    }

    div:not(.buttonreg) {
      position: relative;
      width: 100%;
      height: 30px;
      margin-top: 35px;
    }
    div:not(.buttonreg) input {
      width: 100%;
      padding: 5px;
      background: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #3f88c5;
      color: black;
    }
    div:not(.buttonreg) input, div:not(.buttonreg) label {
      position: absolute
    }

    .buttonreg{
      text-align: right;
    }

    input[type="submit"]{
      background: #247BA0;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0.75em 1.5em;
      transition: all 0.55s;
      border: none;
    }

    .buttonreg button:hover{
      transform: scale(0.97);
    }

    #province-cont label, #sex-cont label {
      position: inherit!important;
    }

    #name-cont{
      margin-top:30px!important;
    }

    #sex-prov{
      display: inline-block;
      margin-bottom: 85px;
      margin-top: 45px;
    }

    #sex-cont{
      float: left;
      padding-left: 0;
      z-index: 100;
    }
    #province-cont{
      padding-left: 0;
    }

    .select2-selection__rendered{
      font-family:$font-stack!important;
    }
  }

  .select2-container--default .select2-results>.select2-results__options{
    font-family:$font-stack!important;
  }

  .bsig-container, .bvolver-container{
    display: none;
  }



  @media only screen and (max-width: 767px) {

    .wrapper-register{
      display: inline-block!important;
      position:relative;
      overflow:hidden;
      margin:0 auto;
      height:100%;
      width:100%;
      white-space:nowrap;
      height: 555px;
    }

    .wrapper-register section{
      flex:0 !important;
      position:relative;
      display:inline-block;
      margin:0!important;
      white-space:normal;
      vertical-align:top;
      background:#eee;
      width:100%;
      height:100%;
    }

    #siguiente-reg{
      background: #247BA0;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      transition: all 0.55s;
      border: none;
      width: 100%;
      font-size: 20px;
      line-height: 50px;
    }

    .bsig-container{
      display: inline-block;
      text-align: right!important;
      width: 100%;
    }

    .bvolver-container{
      display: inline-block;
      text-align: left;
      width: 100%;

      button{
        background: #247BA0;
        font-family: "Montserrat", sans-serif;
        border-radius: .2em;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        padding: 0.75em 1.5em;
        transition: all 0.55s;
        border: none
      }
    }

    .bvolver-container{
      float: left;
      width: 40%!important;
    }
    .buttonreg{
      float: right;
      width: 50%;
      margin-top: 35px
    }

    form{
      padding-top:$margin-default;
    }

    .select2-container, #sex-cont, #province-cont{
      text-align: center;
    }

    .select2-selection__rendered{
      font-family:$font-stack!important;
    }

    #province-cont{
      margin-top: 100px;
    }

    form #name-cont{
      margin-top: 30px !important;
    }

    form div:not(.buttonreg){
      margin-top: 40px;
    }

    #sex-cont{
      margin-top: 55px;
    }
  }
}