header .content_header{
    display: flex;
    align-items: center;
    text-align: center;
    height:70px;
    width:100%;
    background-color: #247BA0;
    list-style:none;
}

header .content_header li{
    flex-grow: 1;
}
header .content_header > li:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
}
header .content_header li input{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 0;
    padding-left: 10%;
    background: url("../img/icons/loupe.png") no-repeat;
    background-color: white;
    background-position: 5px;
}
header .content_header li #logo{
    width:150px;
}

header .content_header li:nth-child(3) img{
    width: 40%;
}
header .content_header > li:nth-child(4) > button{
    background-color: transparent;
    border: 0px;
}
header .content_header > li:nth-child(4) > button > img{
    width: 90%;
    cursor: pointer;
}


