*{
    margin:0;
    padding:0;
}

ul{
    list-style: none;
}

.header-home{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: center;
    background-color: #3F88C5;
}

.header-home li{
    flex: 1;
}

.header-home li img{
    width: 140px;
}

.header-home li:nth-child(2n+1){
    text-align: start;
    margin-left: 5%;
}
.header-home li:nth-child(2n){
    text-align: end;
    margin-right:5%;
}

#b-isesion{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;
    padding: 2%;
}

body {
    width: 100%;
    background:url("../img/fondo-home2.jpg") no-repeat fixed center;
    background-size: cover;
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content #hizq{
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    flex: 1;
}

.content #hizq span{
    text-shadow: 1px 1px 1px black;
}

.content #hder{
    flex: 1;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.content #hder .wrapper-hder{
    border:1px solid white;
    padding: 2% 10% 3% 10%;
}

.content #hder .titleder{
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-bottom: 5%;
    border-bottom: 1px solid white;
}

#wrapper-form{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 1px black;
    align-items: center;
    justify-content: center;
}

.homepage label{
    display: inline-block;
    color: white;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
}
.homepage input {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}

.footer-home{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    background-color: #F06543;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.footer-home a{
    text-decoration: none;
    color: inherit;
}

.footer-home li{
    flex: 1;
}
.footer-home li:first-child{
    text-align: center;
}
.footer-home li img{
    width: 70px;
}
