* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

.homepage {
  width: 100%;
  background: url("../img/fondo-home2.jpg") no-repeat fixed center;
  background-size: cover; }
  .homepage .btn-isesionpc > button {
    background: white;
    font-family: "Montserrat", sans-serif;
    border-radius: .2em;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1.5em;
    text-shadow: 1px 1px 1px #fff;
    transition: all 0.55s;
    border: none; }
  .homepage .content {
    display: flex;
    align-items: center;
    justify-content: center; }
    .homepage .content #hizq-pc {
      margin-left: 5%;
      font-family: "Montserrat", sans-serif;
      color: white;
      flex: 1; }
    .homepage .content #hizq-pc span {
      text-shadow: 1px 1px 1px black; }
    .homepage .content #hder {
      flex: 1;
      display: flex;
      justify-content: center;
      font-family: "Montserrat", sans-serif; }
    .homepage .content #hder .wrapper-hder {
      border: 1px solid white;
      padding: 3% 10% 1% 10%;
      background-color: #247BA0;
      border-bottom-left-radius: 50px; }
    .homepage .content #hder .titleder {
      text-shadow: 1px 1px 1px black;
      text-align: center;
      margin-bottom: 5%;
      border-bottom: 1px solid white; }
  .homepage #wrapper-form {
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px 1px black;
    align-items: center;
    justify-content: center; }
  .homepage .homepage #wrapper-form label {
    display: inline-block !important;
    color: white !important;
    float: left !important;
    clear: left !important;
    width: 160px !important;
    text-align: left !important; }
  .homepage .homepage input {
    display: inline-block !important;
    margin-bottom: 10px !important; }
  .homepage form {
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    font-family: "Montserrat", sans-serif;
    color: white; }
    .homepage form div:not(.buttonreg) {
      position: relative;
      width: 100%;
      height: 30px;
      margin-top: 35px; }
    .homepage form div:not(.buttonreg) input {
      width: 100%;
      padding: 5px;
      background: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #3f88c5;
      color: white; }
    .homepage form div:not(.buttonreg) input, .homepage form div:not(.buttonreg) label {
      position: absolute; }
    .homepage form .buttonreg {
      text-align: right;
      margin-top: 85px; }
    .homepage form .buttonreg button {
      background: white;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0.75em 1.5em;
      text-shadow: 1px 1px 1px #fff;
      transition: all 0.55s;
      border: none; }
    .homepage form .buttonreg button:hover {
      transform: scale(0.97); }
  .homepage #hizq-mobile {
    display: none; }
  .homepage .btn-movil.modal {
    display: none; }
  @media only screen and (max-width: 767px) {
    .homepage .content {
      flex-direction: column; }
    .homepage form div:not(.buttonreg) input, .homepage .homepage form div:not(.buttonreg) label {
      position: relative; }
    .homepage .content #hder .wrapper-hder {
      display: none; }
    .homepage #hder, .homepage .btn-movil.modal {
      width: 100%;
      text-align: center;
      margin-top: 10%;
      display: inline-block; }
    .homepage .btn-movil.modal .modal > label {
      width: 75%;
      text-align: center;
      border: 1px solid white;
      color: #ffffff;
      text-shadow: none;
      background: transparent; }
    .homepage .btn-movil.modal .modal {
      width: 75%;
      margin-right: 0; }
    .homepage .btn-movil-reg {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5%; }
    .homepage .btn-movil-reg button {
      background: white;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0.75em 1.5em;
      text-shadow: 1px 1px 1px #fff;
      transition: all 0.55s;
      border: none;
      width: 70%;
      height: 45px;
      font-size: 16px; }
    .homepage #hizq-pc {
      display: none; }
    .homepage #hizq-mobile {
      display: inline-block;
      margin: 15% 5% 0 5% !important;
      font-family: "Montserrat", sans-serif;
      color: white;
      flex: 1; }
    .homepage .btn-isesionpc {
      display: none; } }

@media only screen and (max-width: 767px) {
  footer, footer .footer-home {
    display: none !important; } }
.modal-active {
  overflow: hidden; }

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1; }
  #modal-container.five {
    transform: scale(1); }
    #modal-container.five .modal-background {
      background: transparent;
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.five .modal-background .modal {
        transform: translateX(-1500px);
        animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.five.out {
      animation: quickScaleDown 0s .5s linear forwards; }
      #modal-container.five.out .modal-background {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.five.out .modal-background .modal {
          animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle; }
    #modal-container .modal-background .modal {
      background: white;
      padding: 50px;
      display: inline-block;
      border-radius: 3px;
      font-weight: 300;
      position: relative; }
      #modal-container .modal-background .modal h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px; }
      #modal-container .modal-background .modal p {
        font-size: 18px;
        line-height: 22px; }
      #modal-container .modal-background .modal .modal-svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 3px; }
        #modal-container .modal-background .modal .modal-svg rect {
          stroke: #fff;
          stroke-width: 2px;
          stroke-dasharray: 778;
          stroke-dashoffset: 778; }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(0.005) scaleX(0); } }
@keyframes zoomIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes zoomOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes fadeIn {
  0% {
    background: transparent; }
  100% {
    background: rgba(0, 0, 0, 0.7); } }
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7); }
  100% {
    background: transparent; } }
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0; }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1; }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0; } }
@keyframes scaleBack {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.85); } }
@keyframes scaleForward {
  0% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }
@keyframes quickScaleDown {
  0% {
    transform: scale(1); }
  99.9% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes slideUpLarge {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }
@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@keyframes moveUp {
  0% {
    transform: translateY(150px); }
  100% {
    transform: translateY(0); } }
@keyframes moveDown {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(150px); } }
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1; }
  99.9% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(0); } }
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes blowUpModal {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3); }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9); }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1); } }
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1); }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9); }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3); } }
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 778; } }
@keyframes modalFadeIn {
  0% {
    background-color: transparent; }
  100% {
    background-color: white; } }
@keyframes modalFadeOut {
  0% {
    background-color: white; }
  100% {
    background-color: transparent; } }
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: -20px; } }
@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px); }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px; }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px; }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px; } }
@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1; }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0; } }
@keyframes fadeToRed {
  0% {
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8); }
  100% {
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8); } }
@keyframes slowFade {
  0% {
    opacity: 1; }
  99.9% {
    opacity: 0;
    transform: scale(1); }
  100% {
    transform: scale(0); } }
footer {
  bottom: 0;
  clear: both; }
  footer .footer-home {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: white; }
    footer .footer-home a {
      text-decoration: none;
      color: inherit; }
    footer .footer-home li {
      flex: 1; }
    footer .footer-home li:first-child {
      text-align: center; }
    footer .footer-home li img {
      width: 70px; }

.home-head .header-home {
  background-color: #247BA0;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: center; }
  .home-head .header-home li {
    flex: 1; }
  .home-head .header-home li img {
    width: 140px; }
  .home-head .header-home li:nth-child(2n+1) {
    text-align: left;
    margin-left: 5%; }
  .home-head .header-home li:nth-child(2n) {
    text-align: right;
    margin-right: 5%; }

@media only screen and (max-width: 767px) {
  .home-head .header-home li:nth-child(2n+1) {
    text-align: center;
    margin: 0 !important; }

  .home-head .header-home li:nth-child(2n) {
    display: none; } }
.dashboardbdy {
  background-color: #f5f5f5;
  /*TEXT AREA POST*/ }
  .dashboardbdy * {
    margin: 0;
    padding: 0; }
  .dashboardbdy ul {
    list-style: none; }
  .dashboardbdy .content {
    margin-top: 2%;
    width: 100%;
    display: flex;
    margin-bottom: 2%; }
    .dashboardbdy .content .navegation {
      width: 30%;
      display: flex;
      align-items: center;
      flex-direction: column; }
    .dashboardbdy .content .feed {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      width: 70%; }
  .dashboardbdy .feed .content_feed {
    width: 95%;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
  .dashboardbdy .feed .content_feed .new_post {
    width: 100%;
    height: 170px; }
  .dashboardbdy .feed .content_feed .Outstanding {
    width: 100%;
    height: 150px; }
  .dashboardbdy .feed .content_feed .posts {
    width: 100%;
    height: 900px; }
  .dashboardbdy .navegation .profile {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    color: #247BA0;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    background-color: white; }
  .dashboardbdy .info_profile {
    display: flex;
    align-items: center; }
  .dashboardbdy .info_profile *:not(img) {
    flex-grow: 1;
    padding-top: 2%;
    padding-bottom: 2%; }
  .dashboardbdy .info_profile .image_profile img {
    width: 120px;
    height: 120px; }
  .dashboardbdy .info_profile .user_profile {
    text-align: left; }
  .dashboardbdy .info_profile .user_profile .pleasures_profile img {
    width: 40px; }
  .dashboardbdy .people_profile {
    margin-top: 5%;
    display: flex;
    justify-content: center; }
  .dashboardbdy .people_profile * {
    flex-grow: 1; }
  .dashboardbdy .info_profile img {
    border-radius: 100px; }
  .dashboardbdy .navegation .events {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2%;
    width: 100%; }
    .dashboardbdy .navegation .events .content_events {
      padding-top: 5%;
      padding-bottom: 5%;
      font-family: 'Roboto', sans-serif;
      color: #247BA0;
      width: 100%;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      text-align: center;
      justify-content: center;
      background-color: white; }
    .dashboardbdy .navegation .events .content_events .event {
      height: 130px;
      display: flex;
      align-items: center;
      text-align: justify; }
    .dashboardbdy .navegation .events .content_events .event .content_img {
      margin-left: 2%; }
    .dashboardbdy .navegation .events .content_events img {
      width: 80px;
      height: 80px;
      border-radius: 100px; }
    .dashboardbdy .navegation .events .content_events .info_envent {
      margin-left: 5%;
      margin-right: 5%; }
    .dashboardbdy .navegation .events .content_events .info_envent button {
      background-color: transparent;
      border: 0; }
    .dashboardbdy .navegation .events .content_events .info_envent .event-buttons {
      text-align: right; }
    .dashboardbdy .navegation .events .content_events .info_envent button img {
      width: 20px;
      height: 20px;
      cursor: pointer; }
  .dashboardbdy .navegation .suggestions {
    text-align: center;
    margin-top: 10%;
    width: 100%; }
    .dashboardbdy .navegation .suggestions .content_suggestions {
      width: 100%;
      display: flex; }
    .dashboardbdy .navegation .suggestions .content_suggestions .suggestion {
      flex-grow: 2;
      height: 70px;
      border: 1px dashed black; }
  .dashboardbdy .form-group {
    margin-bottom: 20px; }
  .dashboardbdy .controls {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative; }
    .dashboardbdy .controls input[type="text"],
    .dashboardbdy .controls input[type="email"],
    .dashboardbdy .controls input[type="tel"],
    .dashboardbdy .controls textarea,
    .dashboardbdy .controls select {
      padding: 12px;
      font-size: 14px;
      border: 1px solid #c6c6c6;
      width: 97%;
      color: black;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 300;
      background-color: #fff;
      border-radius: 2px;
      transition: all 0.3s; }
      .dashboardbdy .controls input[type="text"]:focus, .dashboardbdy .controls input[type="text"]:hover,
      .dashboardbdy .controls input[type="email"]:focus,
      .dashboardbdy .controls input[type="email"]:hover,
      .dashboardbdy .controls input[type="tel"]:focus,
      .dashboardbdy .controls input[type="tel"]:hover,
      .dashboardbdy .controls textarea:focus,
      .dashboardbdy .controls textarea:hover,
      .dashboardbdy .controls select:focus,
      .dashboardbdy .controls select:hover {
        outline: none;
        border-color: #9FB1C1; }
        .dashboardbdy .controls input[type="text"]:focus + label, .dashboardbdy .controls input[type="text"]:hover + label,
        .dashboardbdy .controls input[type="email"]:focus + label,
        .dashboardbdy .controls input[type="email"]:hover + label,
        .dashboardbdy .controls input[type="tel"]:focus + label,
        .dashboardbdy .controls input[type="tel"]:hover + label,
        .dashboardbdy .controls textarea:focus + label,
        .dashboardbdy .controls textarea:hover + label,
        .dashboardbdy .controls select:focus + label,
        .dashboardbdy .controls select:hover + label {
          color: #077ABC;
          cursor: text; }
  .dashboardbdy select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; }
  .dashboardbdy label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #247BA0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    -webkit-transition: color .3s, top .3s, background-color .8s;
    -moz-transition: color .3s, top .3s, background-color .8s;
    -ms-transition: color .3s, top .3s, background-color .8s;
    -o-transition: color .3s, top .3s, background-color .8s;
    transition: color .3s, top .3s, background-color .8s; }
    .dashboardbdy label.active {
      top: -22px;
      color: #555;
      background-color: transparent; }
  .dashboardbdy textarea {
    resize: none;
    height: 100px; }
  .dashboardbdy .btn-publicar {
    display: flex;
    text-align: right;
    padding-right: 2%;
    align-items: center;
    background-color: whitesmoke; }
    .dashboardbdy .btn-publicar #addimg, .dashboardbdy .btn-publicar #addicons, .dashboardbdy .btn-publicar #addtags {
      background: transparent;
      border: none;
      cursor: pointer; }
      .dashboardbdy .btn-publicar #addimg i, .dashboardbdy .btn-publicar #addicons i, .dashboardbdy .btn-publicar #addtags i {
        color: #247BA0; }
    .dashboardbdy .btn-publicar div:last-child {
      flex: 1; }
    .dashboardbdy .btn-publicar #publicarpost {
      background: #247BA0;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0.75em 1.5em;
      transition: all 0.55s;
      border: none; }
  .dashboardbdy .btn-publicar div:first-child {
    margin-left: 2%;
    margin-right: 2%; }
  .dashboardbdy .tagarea {
    display: none; }
  .dashboardbdy .tag-box {
    list-style: none;
    padding: 3px;
    margin: 0;
    display: inline-block;
    font-family: arial;
    width: 75%;
    border: 1px solid #F39F19;
    border-radius: 4px; }
    .dashboardbdy .tag-box * {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -ms-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .dashboardbdy .tag-box li {
      padding: 4px 6px;
      float: left;
      display: inline-block; }
      .dashboardbdy .tag-box li.tags {
        background: #F1C617;
        color: #247BA0;
        border-radius: 4px;
        margin: 4px 3px;
        position: relative; }
        .dashboardbdy .tag-box li.tags .close {
          display: inline-block;
          position: absolute;
          color: #E7832B;
          overflow: hidden;
          width: 0;
          right: 0;
          height: 18px;
          cursor: pointer;
          top: 4px; }
          .dashboardbdy .tag-box li.tags .close:after {
            content: 'x'; }
        .dashboardbdy .tag-box li.tags.edit {
          background: none;
          border: 1px solid #F1C617;
          color: #247BA0; }
          .dashboardbdy .tag-box li.tags.edit .input-tag {
            height: auto; }
          .dashboardbdy .tag-box li.tags.edit:hover {
            padding: 4px 6px; }
        .dashboardbdy .tag-box li.tags.danger {
          background: #F00;
          opacity: 0.8; }
        .dashboardbdy .tag-box li.tags:hover {
          padding-right: 18px; }
          .dashboardbdy .tag-box li.tags:hover .close {
            width: 14px; }
      .dashboardbdy .tag-box li .input-tag {
        color: #247BA0;
        height: 0px;
        vertical-align: middle;
        border: none;
        outline: none;
        background: none; }
        .dashboardbdy .tag-box li .input-tag:hover, .dashboardbdy .tag-box li .input-tag:focus {
          outline: none;
          border: none; }
  .dashboardbdy .menu-pestanyas {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke; }
    .dashboardbdy .menu-pestanyas li:first-child {
      flex: 0.1;
      font-size: 14px; }
    .dashboardbdy .menu-pestanyas li:last-child {
      flex: 0.1;
      padding-left: 10px;
      font-size: 14px; }
  .dashboardbdy .pestanya-activa {
    background: #247BA0;
    font-family: "Montserrat", sans-serif;
    border-radius: .2em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1em;
    transition: all 0.55s;
    border: none; }
  .dashboardbdy .pestanya-default {
    background: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    border-radius: .2em;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1em;
    box-shadow: 0px 3px 9px -1px black;
    transition: all 0.55s;
    border: none; }
  .dashboardbdy .new_event form {
    display: flex;
    flex-direction: column; }

header .content_header {
  display: flex;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 100%;
  background-color: #247BA0;
  list-style: none; }

header .content_header li {
  flex-grow: 1; }

header .content_header > li:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center; }

/*header .content_header li input{
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: 0;
  padding-left: 10%;
  background: url("../img/icons/loupe.png") no-repeat;
  background-color: white;
  background-position: 5px;
}*/
header .content_header li #logo {
  width: 150px; }

header .content_header li:nth-child(3) img {
  width: 45%; }

header .content_header > li:nth-child(4) > button {
  background-color: transparent;
  border: 0px; }

header .content_header > li:nth-child(4) > button > img {
  width: 35%;
  cursor: pointer; }

.searchbox {
  position: relative;
  height: 40px;
  width: 400px;
  margin: 50px auto;
  overflow: hidden;
  border-bottom: 2px solid #fff;
  background: none;
  color: #fff;
  perspective: 1800px;
  perspective-origin: 40% 40%;
  transform-style: preserve-3d;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .searchbox--active {
    color: #000; }
  .searchbox:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0px;
    transform: rotateX(90deg);
    background: #fff;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .searchbox--active:after {
    top: 0px;
    left: 0px;
    transform: rotateX(0deg); }
  .searchbox input {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    border: none;
    font-size: 1em;
    color: inherit;
    background: none; }
  .searchbox button {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 44px;
    border: none;
    background: none;
    font-size: 1.4em;
    color: inherit; }

.register {
  background-color: #f5f5f5; }
  .register .header-home li {
    margin: 0 !important;
    text-align: center !important; }
  .register .wrapper-register {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .register .wrapper-register .form-der, .register .wrapper-register .form-izq {
      flex: 1;
      margin-left: 5%;
      margin-top: 5%;
      background-color: white;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
    .register .wrapper-register .form-izq {
      margin-right: 5%; }
  .register form {
    width: 60%;
    font-family: "Montserrat", sans-serif;
    color: #247BA0; }
    .register form div:not(.bvolver-container):not(.buttonreg) {
      text-align: left;
      padding-left: 30%; }
    .register form div input {
      width: 75% !important; }
    .register form #appbundle_user_plainPassword_first {
      width: 97% !important; }
    .register form #appbundle_user_plainPassword_second {
      width: 97% !important; }
    .register form #appbundle_user_plainPassword, .register form #appbundle_user_plainPassword > div {
      padding-left: 0 !important; }
    .register form div:not(.buttonreg) {
      position: relative;
      width: 100%;
      height: 30px;
      margin-top: 35px; }
    .register form div:not(.buttonreg) input {
      width: 100%;
      padding: 5px;
      background: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #3f88c5;
      color: black; }
    .register form div:not(.buttonreg) input, .register form div:not(.buttonreg) label {
      position: absolute; }
    .register form .buttonreg {
      text-align: right; }
    .register form input[type="submit"] {
      background: #247BA0;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      padding: 0.75em 1.5em;
      transition: all 0.55s;
      border: none; }
    .register form .buttonreg button:hover {
      transform: scale(0.97); }
    .register form #province-cont label, .register form #sex-cont label {
      position: inherit !important; }
    .register form #name-cont {
      margin-top: 30px !important; }
    .register form #sex-prov {
      display: inline-block;
      margin-bottom: 85px;
      margin-top: 45px; }
    .register form #sex-cont {
      float: left;
      padding-left: 0;
      z-index: 100; }
    .register form #province-cont {
      padding-left: 0; }
    .register form .select2-selection__rendered {
      font-family: "Montserrat", sans-serif !important; }
  .register .select2-container--default .select2-results > .select2-results__options {
    font-family: "Montserrat", sans-serif !important; }
  .register .bsig-container, .register .bvolver-container {
    display: none; }
  @media only screen and (max-width: 767px) {
    .register .wrapper-register {
      display: inline-block !important;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      white-space: nowrap;
      height: 555px; }
    .register .wrapper-register section {
      flex: 0 !important;
      position: relative;
      display: inline-block;
      margin: 0 !important;
      white-space: normal;
      vertical-align: top;
      background: #eee;
      width: 100%;
      height: 100%; }
    .register #siguiente-reg {
      background: #247BA0;
      font-family: "Montserrat", sans-serif;
      border-radius: .2em;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      transition: all 0.55s;
      border: none;
      width: 100%;
      font-size: 20px;
      line-height: 50px; }
    .register .bsig-container {
      display: inline-block;
      text-align: right !important;
      width: 100%; }
    .register .bvolver-container {
      display: inline-block;
      text-align: left;
      width: 100%; }
      .register .bvolver-container button {
        background: #247BA0;
        font-family: "Montserrat", sans-serif;
        border-radius: .2em;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        padding: 0.75em 1.5em;
        transition: all 0.55s;
        border: none; }
    .register .bvolver-container {
      float: left;
      width: 40% !important; }
    .register .buttonreg {
      float: right;
      width: 50%;
      margin-top: 35px; }
    .register form {
      padding-top: 5%; }
    .register .select2-container, .register #sex-cont, .register #province-cont {
      text-align: center; }
    .register .select2-selection__rendered {
      font-family: "Montserrat", sans-serif !important; }
    .register #province-cont {
      margin-top: 100px; }
    .register form #name-cont {
      margin-top: 30px !important; }
    .register form div:not(.buttonreg) {
      margin-top: 40px; }
    .register #sex-cont {
      margin-top: 55px; } }

.profile-page-bdy {
  background-color: #f5f5f5; }
  .profile-page-bdy * {
    margin: 0;
    padding: 0; }
  .profile-page-bdy ul {
    list-style: none; }
  .profile-page-bdy .content {
    margin-top: 2%;
    width: 100%;
    display: flex;
    margin-bottom: 2%; }
    .profile-page-bdy .content .navegation {
      width: 48%;
      display: flex;
      align-items: center;
      flex-direction: column; }
    .profile-page-bdy .content .feed {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      width: 100%; }
  .profile-page-bdy .feed {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%; }
    .profile-page-bdy .feed .content_feed {
      width: 95%;
      background-color: white;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
    .profile-page-bdy .feed .content_feed .new_post {
      width: 100%;
      height: 150px; }
    .profile-page-bdy .feed .content_feed .Outstanding {
      width: 100%;
      height: 150px; }
    .profile-page-bdy .feed .content_feed .posts {
      width: 100%;
      height: 900px; }
  .profile-page-bdy .navegation {
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: 'Roboto', sans-serif;
    color: #247BA0;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    margin-left: 2%; }
    .profile-page-bdy .navegation .profile {
      width: 100%; }
      .profile-page-bdy .navegation .profile .info_profile {
        display: flex;
        align-items: center; }
      .profile-page-bdy .navegation .profile .info_profile *:not(img) {
        flex-grow: 1;
        padding-bottom: 2%; }
      .profile-page-bdy .navegation .profile .info_profile .image_profile img {
        width: 100%;
        height: 380px; }
    .profile-page-bdy .navegation .user_profile {
      text-align: center; }
    .profile-page-bdy .navegation .user_profile h3:first-child {
      margin-top: 2%; }
    .profile-page-bdy .navegation .user_profile h3:last-child {
      margin-top: 5%; }
    .profile-page-bdy .navegation .pleasures_profile {
      margin-top: 10%; }
    .profile-page-bdy .navegation .pleasures_profile img {
      width: 40px; }
    .profile-page-bdy .navegation .people_profile {
      margin-top: 5%;
      display: flex;
      justify-content: center; }
    .profile-page-bdy .navegation .people_profile * {
      flex-grow: 1; }

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .profile-right .events {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .profile-right .events h1 {
      align-self: center; }
    .profile-right .events .content_events {
      width: 100%;
      border: 1px dashed black; }
    .profile-right .events .content_events .event {
      height: 130px;
      display: flex;
      align-items: center;
      text-align: justify; }
    .profile-right .events .content_events .event .content_img {
      margin-left: 2%; }
    .profile-right .events .content_events img {
      width: 80px;
      height: 80px;
      border-radius: 100px; }
    .profile-right .events .content_events .info_envent {
      margin-left: 5%;
      margin-right: 5%; }
    .profile-right .events .content_events .info_envent button {
      background-color: transparent;
      border: 0; }
    .profile-right .events .content_events .info_envent .event-buttons {
      text-align: right; }
    .profile-right .events .content_events .info_envent button img {
      width: 20px;
      height: 20px;
      cursor: pointer; }
  .profile-right .suggestions {
    text-align: center;
    margin-top: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif; }
    .profile-right .suggestions h1 {
      align-self: center; }
    .profile-right .suggestions .content_suggestions {
      width: 100%; }
    .profile-right .suggestions .content_suggestions .suggestion {
      flex-grow: 2;
      height: 70px;
      border: 1px dashed black; }

/*# sourceMappingURL=style.css.map */
