{% block footer %}
        <ul class="footer-home">
            <li><a href="#"><img alt="Logo MeetOut" src="{{ asset('img/logo.png') }}"/></a></li>
            <li><p><a href="#">Política de privacidad</a></p></li>
            <li><p><a href="#">Condiciones de uso</a></p></li>
            <li><p><a href="#">Política de cookies</a></p></li>
            <li><p><a href="#">Política de copyright</a></p></li>
        </ul>

{% endblock %}

