{% block footer %}
        <ul class="footer-home">
            <li><a href="#"><img src="{{ asset('img/logo.png') }}"/></a></li>
            <li><p><a href="#">Política de privacidad</a></p></li>
            <li><p><a href="#">Condiciones de uso</a></p></li>
            <li><p><a href="#">Política de cookies</a></p></li>
            <li><p><a href="#">Política de copyright</a></p></li>
        </ul>




    <div class="navigation-mobile">
        <ul class="navmob-section">
            <li><i class="fa fa-home fa-lg" aria-hidden="true"></i> Inicio</li>
        </ul>

        <ul class="navmob-section">
            <li><i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i> Eventos</li>
        </ul>

        <ul class="navmob-section">
            <li><i class="fa fa-search fa-lg" aria-hidden="true"></i> Buscar</li>
        </ul>

        <ul class="navmob-section">
            <li><i class="fa fa-user fa-lg" aria-hidden="true"></i> Perfil</li>
        </ul>

    </div>


{% endblock %}

