{% block footer %}
        <ul class="footer-home">
            <li><a href="#"><img alt="Logo MeetOut" src="{{ asset('img/logo.png') }}"/></a></li>
            <li><p><a href="#">Política de privacidad</a></p></li>
            <li><p><a href="#">Condiciones de uso</a></p></li>
            <li><p><a href="#">Política de cookies</a></p></li>
            <li><p><a href="#">Política de copyright</a></p></li>
        </ul>




    <div class="navigation-mobile">
        <ul class="navmob-section home-btn">
            <a href="{{ path('dashboardpage')}}"><li><i class="fa fa-home fa-lg" aria-hidden="true"></i> Inicio</li></a>
        </ul>

        <ul class="navmob-section events-btn">
            <li><i class="fa fa-calendar-o fa-lg" aria-hidden="true"></i> Eventos</li>
        </ul>

        <ul class="navmob-section search-btn">
            <li><i class="fa fa-search fa-lg" aria-hidden="true"></i> Buscar</li>
        </ul>

        <ul class="navmob-section profile-btn">
            <a href="{{ path('profilepage', { 'page': user.id })}}"><li><i class="fa fa-user fa-lg" aria-hidden="true"></i> Perfil</li></a>
        </ul>

    </div>


{% endblock %}

