<div class="homepage">
    <div class="home-head">
            <ul class="header-home">
                <li><a href="#"><img src="{{ asset('img/logo.png') }}" alt="MeetOut logo"/></a></li>
                <li class="btn-isesionpc"><button type="button">Iniciar sesión</button> </li>
            </ul>
    </div>
</div>