<div class="homepage">
    <div class="home-head">
        {% if form_login is defined %}
            <ul class="header-home">
                <li><a href="#"><img src="{{ asset('img/logo.png') }}" alt="MeetOut logo"/></a></li>

            </ul>
        {% else %}

            <ul class="header-home">
                <li class="text-center"><a href="#"><img src="{{ asset('img/logo.png') }}" alt="MeetOut logo"/></a></li>
            </ul>
        {% endif %}
    </div>
</div>